<li>
<% if (current_page.data.editors) %>
  Editors:
  <ul class="inline">
    <% current_page.data.editors.each do |f| %><li><% if f.is_a? String %><%=f%><% else %><% f.map do |key, value| %><a href="<%=value%>"><%=key%></a><% end %><% end %></li><% end %>
  </ul>
<% else %>
Editors:
<ul class="inline">
    <li><a href="https://www.w3.org/People/yatil/">Eric Eggert</a></li><li><a href="https://www.w3.org/People/shadi/">Shadi Abou-Zahra</a></li>
  </ul>
<% end %>

<% if (current_page.data.contributors) %>
  Contributors:
  <ul class="inline">
    <% current_page.data.contributors.each do |f| %><li><% if f.is_a? String %><%=f%><% else %><% f.map do |key, value| %><a href="<%=value%>"><%=key%></a><% end %><% end %></li><% end %>
  </ul>
<% else %>
Contributors: The Education and Outreach Working Group (<a href="https://www.w3.org/WAI/EO/">EOWG</a>).
<% end %>
</li>

<li>
<% if (current_page.data.support) %>
  <%= current_page.data.support %>
<% end %>
</li>
