  </main>
	<footer role="contentinfo">
    <div>
		<h2>Document info</h2>
		<ul>
			<li><strong>Last Modification:</strong>
      <% if current_page.data.status=="draft" %>
        [DRAFT]
      <% end %>
      <% if current_page.data.status=="editors-draft" %>
        [EDITOR’S DRAFT]
      <% end %>
      <%= File.mtime(Dir.glob('source/' + current_page.path + '.erb.md')[0]).strftime("%d %B %Y") %>
			</li>
      <%= partial "layouts/contributors" %>
      <li>[<%= nav_link('Attributions', '/attributions.html', :relative => true) %>]  [<%= nav_link('Changelog', '/changelog.html', :relative => true) %>]</li>
    </ul>
    <p>
    	[<a href="http://www.w3.org/WAI/sitemap.html">WAI Site Map</a>]
    	[<a href="http://www.w3.org/WAI/sitehelp.html">Help with WAI Website</a>]
    	[<a href="http://www.w3.org/WAI/search.php">Search</a>]
    	[<a href="http://www.w3.org/WAI/contacts">Contacting WAI</a>]
		</p>
    <p><strong>Feedback welcome to <a href="mailto:wai-eo-editors@w3.org">wai-eo-editors@w3.org</a></strong> (a publicly archived list) or <a href="mailto:wai@w3.org">wai@w3.org</a> (a WAI staff-only list).</p>
    </p>
    <div class="copyright">
      <p>
	<a rel="Copyright" href="http://www.w3.org/Consortium/Legal/ipr-notice#Copyright">Copyright</a> ©<%= Time.now.year %>
      	<a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a><sup>®</sup>
				(<a href="http://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>,
					<a href="http://www.ercim.org/"><abbr title="European Research Consortium for Informatics and Mathematics">ERCIM</abbr></a>,
					<a href="http://www.keio.ac.jp/">Keio</a>,
         	<a href="http://ev.buaa.edu.cn/">Beihang</a>), All Rights Reserved. W3C <a href="http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer">liability</a>,
         <a href="http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks">trademark</a>,               <a rel="Copyright" href="http://www.w3.org/Consortium/Legal/copyright-documents">document use</a>               and <a rel="Copyright" href="http://www.w3.org/Consortium/Legal/copyright-software">software licensing</a> rules apply. Your interactions with this site are in accordance with our <a href="http://www.w3.org/Consortium/Legal/privacy-statement#Public">public</a>
               and <a href="http://www.w3.org/Consortium/Legal/privacy-statement#Members">Member</a>privacy statements.</p>                   </div><!-- ends copyright -->
    </div>
	</footer>
	<%= javascript_include_tag  "main" %>
	</body>
</html>
