  </div>
	<footer id="footer" role="contentinfo" aria-labelledby="wai_footerheading">
    <div>
		<h2 id="wai_footerheading">Document Information</h2>
    <p><strong>Feedback: We welcome ideas for improvements, bug reports, and comments</strong> via <a href="https://github.com/w3c/wai-tutorials">GitHub</a> or e-mail to <a href="mailto:wai-eo-editors@w3.org">wai-eo-editors@w3.org</a> (a publicly archived list) or <a href="mailto:wai@w3.org">wai@w3.org</a> (a WAI staff-only list).</p>
		<ul>
			<li><strong>Status:</strong>
				<% if current_page.data.status=="approved-draft" %>
	        Draft, approved by <a href="https://www.w3.org/WAI/EO/">EOWG</a>, updated
	      <% elsif current_page.data.status=="draft" %>
	        [DRAFT] updated
	      <% elsif current_page.data.status=="editors-draft" %>
	        [EDITOR’S DRAFT] updated
	      <% else %>
	      	Updated
	      <% end %>
	      <%= File.mtime(Dir.glob('source/' + current_page.path + '.erb.md')[0]).strftime("%d %B %Y") %>
	      <% if (!current_page.data.status and current_page.data.layout!="fullcode") %>
		      <% if current_page.data.first_published %>
		      (first published <%= current_page.data.first_published %>)
		      <% elsif (current_page.data.order!=1 and current_page.parent.data.first_published) %>
		      (first published <%= current_page.parent.data.first_published %>)
		      <% end %>
		    <% end %>
			</li>
      <%= partial "layouts/contributors" %>
      <li>[<%= nav_link('Attributions', '/attributions.html', :relative => true) %>]  [<%= nav_link('Changelog', '/changelog.html', :relative => true) %>]</li>
    </ul>
    <p>
    	[<a href="https://www.w3.org/WAI/sitemap.html">WAI Site Map</a>]
    	[<a href="https://www.w3.org/WAI/sitehelp.html">Help with WAI Website</a>]
    	[<a href="https://www.w3.org/WAI/search.php">Search</a>]
    	[<a href="https://www.w3.org/WAI/contacts">Contacting WAI</a>]
		</p>
    <div class="copyright">
        <p>
	        Copyright &#xA9; <%= File.mtime(Dir.glob('source/' + current_page.path + '.erb.md')[0]).strftime("%Y") %> W3C <sup>&#xAE;</sup> (<a href="http://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>, <a href="http://www.ercim.eu/"><abbr title="European Research Consortium for Informatics and Mathematics">ERCIM</abbr></a>, <a href="http://www.keio.ac.jp/">Keio</a>, <a href="http://ev.buaa.edu.cn/">Beihang</a>) <a href="/Consortium/Legal/ipr-notice">Usage policies apply</a>.
        </p>
      </div><!-- ends copyright -->
    </div>
	</footer>
	<%= javascript_include_tag  "main" %>
  <!-- Piwik -->
  <script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.www.w3.org/WAI"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
  var u="//www.w3.org/analytics/piwik/";
  _paq.push(['setTrackerUrl', u+'piwik.php']);
  _paq.push(['setSiteId', 328]);
  var d=document, g=d.createElement('script'),
  s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js';
  s.parentNode.insertBefore(g,s);
  })();
  </script>
  <noscript><p><img src="//www.w3.org/analytics/piwik/piwik.php?idsite=328"
  style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
	</body>
</html>
