<!doctype html>
<html class="no-js no-svg" lang="en">
<head>
  <meta charset="utf-8">
  <title>
  <%= current_page.data.title %>
  <% if current_page.data.order == 1 %>
    <% if current_page.data.tutorial_title %>
      <%= " &bull; " + current_page.data.tutorial_title %>
    <% end %>
  <% else %>
    <% if current_page.parent and current_page.parent.data.tutorial_title %>
      <%= " &bull; " + current_page.parent.data.tutorial_title %>
    <% end %>
  <% end %>
  &bull; WAI Web Accessibility Tutorials
  </title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "wai-act" %>
  <%= javascript_include_tag  "modernizr" %>
</head>
<body class="texts">
  <header role="banner">
    <div class="w3c-wai-header">
      <a href="http://w3.org/"><%= image_tag 'w3c.png', :alt => "W3C", :width => "90" %></a>
      <a href="http://w3.org/WAI/" class="wai"><%= image_tag 'wai.png', :alt => "Web Accessibility Initiative" %></a>
    </div>
  </header>
  <main role="main" class="with-side-menu">
    <div class="page-title">
      <%= x_link_to('Web accessibility tutorials <span class="subheading">Guidance on how to create websites that meet WCAG</span>', '/index.html', :relative => true) %>
    </div>
    <a href="#nav" class="btn btn-jump">Jump to the navigation</a>
