<div role="navigation" id="tools">
  <ul>
    <% if current_page.data.type == 'intro' %>
      <% current_page.children.sort_by { |resource| resource.data.order }.each do |item| %>
        <% if item.data.order && item.data.order == current_page.data.order - 1 %><li class="prev"><span><span class="dir">Previous:</span><span class="title"><%= nav_link(item.data.title, '/' + item.path, :relative => true) %></span></span></li><% end %>
        <% if item.data.order && item.data.order-1 == current_page.data.order %><li class="next"><span><span class="dir">Next:</span><span class="title"><%= nav_link(item.data.title, '/' + item.path, :relative => true) %></span></span></li><% end %>
      <% end %>
    <% else %>
      <% if current_page.data.order == 2 %>
        <li class="prev"><span><span class="dir">Previous:</span><span class="title"><%= nav_link(current_page.parent.data.nav_title, '/' + current_page.parent.path, :relative => true) %></span></span></li>
      <% end %>
      <% current_page.parent.children.sort_by { |resource| resource.data.order }.each do |item| %>
        <% if item.data.order && item.data.order == current_page.data.order - 1 %><li class="prev"><span><span class="dir">Previous:</span><span class="title"><%= nav_link(item.data.title, '/' + item.path, :relative => true) %></span></span></li><% end %>
        <% if item.data.order && item.data.order-1 == current_page.data.order %><li class="next"><span><span class="dir">Next:</span><span class="title"><%= nav_link(item.data.title, '/' + item.path, :relative => true) %></span></span></li><% end %>
      <% end %>
    <% end %>
  </ul>
</div>
