<% if (current_page.data.wcag_success_criteria || current_page.data.wcag_techniques) %>
<div class="resources">
  <h2 id="related">Related WCAG2.0 resources</h2>
  <p>These tutorials show examples of best practice implementations that meet WCAG 2.0 in certain situations. For <em>normative</em> information, see the <a href="http://www.w3.org/TR/WCAG20/">WCAG 2.0 specification</a><% if current_page.data.wcag_success_criteria %>, especially the following success criteria<% end %>.<% if current_page.data.wcag_techniques %> Further guidance can also be found in the (non-normative) techniques below.<% end %></p>
  <% if current_page.data.wcag_success_criteria %>
    <p><strong>Success Criteria:</strong></p>
    <ul>
      <% data.wcag.successcriteria.each do |f| %>
        <% f.each do |key, value| %>
          <% if current_page.data.wcag_success_criteria.index(key) %>
            <li><p><a href="http://www.w3.org/WAI/WCAG20/quickref/#qr-<%=value.slug%>"><%=key%> <%=value.title%>:</a> <%=value.desc%> (Level&nbsp;<%=value.level%>)</p></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <% if current_page.data.wcag_techniques %>
    <p><strong>Techniques:</strong></p>
    <ul>
      <% data.techniques.techniques.each do |f| %>
        <% f.map do |key, value| %>
          <% if current_page.data.wcag_techniques.index(key) %>
            <li><a href="http://www.w3.org/TR/WCAG20-TECHS/<%=key%>"><%=key%>: <%=value%></a></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
<% end %>
