<%= partial "layouts/header" %>
<div class="content <%= current_page.data.status %>">
  <header class="tutorial-heading">
    <h1>
      <%= current_page.data.title %>
    </h1>
  </header>

  <% if current_page.data.status=="draft" %>

  <div class="status">
    <h3>Status - </h3>
    <p>This is an in-progress, unapproved draft. Please send any suggestions, edits, or comments to the publicly-archived list: <a href="mailto:wai-eo-editors@w3.org">wai-eo-editors@w3.org.</a>
    </p>
  </div>
  <% end %>

  <div class="inner">

    <%= yield %>
  </div>
</div>
<div class="navigation" id="nav">
  <nav role="navigation">
    <%= nav_link('Back to the example', current_page.data.source) %>
  </nav>
</div>
<%= partial "layouts/footer" %>
