<%= partial "layouts/header" %>
<div class="content <%= current_page.data.status %>">
  <header class="tutorial-heading">
    <nav class="breadcrumb" aria-label="Breadcrumbs">
      <p>
        <span class="home"><%= nav_link('Tutorials home', '/index.html', :relative => true) %></span> <span class="icon icon-chevron-right"></span>
        <span class="other">
        <% if current_page.parent and ("/" + current_page.parent.path != '/index.html') %>
          <%= nav_link(current_page.parent.data.tutorial_title, '/' + current_page.parent.path) %> <span class="icon icon-chevron-right"></span>
        <% end %>
        <% if current_page.parent and ("/" + current_page.parent.path == '/index.html') %>
          <%= nav_link(current_page.data.tutorial_title, '/' + current_page.path) %> <span class="icon icon-chevron-right"></span>
        <% end %>
          <%= nav_link(current_page.data.title, '/' + current_page.path, :relative => true) %>
        </span>
      </p>
    </nav>
    <h1>
      <%= current_page.data.title %>
    </h1>
  </header>

  <% if current_page.data.status=="draft" %>
  <div class="status">
    <h3>Status - </h3>
    <p>This is an in-progress, unapproved draft. Please send any suggestions, edits, or comments to the publicly-archived list: <a href="mailto:wai-eo-editors@w3.org">wai-eo-editors@w3.org.</a>
    </p>
  </div>
  <% end %>
  <% if current_page.data.status=="editors-draft" %>
  <div class="status">
    <h3>Status (not ready for review) - </h3>
    <p>This is an in-progress, unapproved editor’s draft. Content may change at any time without notice. Please send any suggestions, edits, or comments to the publicly-archived list: <a href="mailto:wai-eo-editors@w3.org">wai-eo-editors@w3.org.</a>
    </p>
  </div>
  <% end %>


  <div class="inner">

  <% if current_page.data.techniques %>
  <div class="techniques">
    <p>Techniques in this tutorial:
      <% current_page.data.techniques.sort_by! { |x| x.map { |key, value| key} }.each do |x| %>
        <% x.map{ |key, value| '<span class="tech '+value.downcase+'">'+key+' <span>'+value+'</span></span>' }.each do |y| %>
          <%= y %>
        <% end%>
      <% end %>
    </p>
  </div>
  <% end %>

    <%= yield %>

<%= partial "layouts/prevnext" %>
                  </div>
                </div>
                <div class="navigation">
  <nav role="navigation" aria-label="Navigation" id="nav">
    <p class="list-heading" id="list-heading-tutorials">
      <% if current_page.data.order == 1 %>
        <%= current_page.data.tutorial_title %> Tutorial
      <% else %>
        <%= current_page.parent.data.tutorial_title %> Tutorial
      <% end %>
    </p>
    <ul aria-labelled-by="list-heading-tutorials">
      <% if current_page.data.type == 'intro' %>
      <% if current_page.data.nav_title %>
          <li<%= ' class="' + current_page.data.type + '"' if current_page.data.type %>><%= nav_link(current_page.data.nav_title, '/' + current_page.path, :relative => true) %></li>
        <% else %>
          <li<%= ' class="' + current_page.data.type + '"' if current_page.data.type %>><%= nav_link(current_page.data.title, '/' + current_page.path, :relative => true) %></li>
        <% end %>
      <% current_page.children.sort_by { |resource| resource.data.order }.each do |item| %>
      <% if item.data.nav_title %>
      <li<%= ' class="' + item.data.type + '"' if item.data.type %>><%= nav_link(item.data.nav_title, '/' + item.path, :relative => true) %></li>
      <% else %>
      <li<%= ' class="' + item.data.type + '"' if item.data.type %>><%= nav_link(item.data.title, '/' + item.path, :relative => true) %></li>
      <% end %>
      <% end %>
      <% else %>
        <% if current_page.parent.data.nav_title %>
          <li<%= ' class="' + current_page.parent.data.type + '"' if current_page.parent.data.type %>><%= nav_link(current_page.parent.data.nav_title, '/' + current_page.parent.path, :relative => true) %></li>
        <% else %>
          <li<%= ' class="' + current_page.parent.data.type + '"' if current_page.parent.data.type %>><%= nav_link(current_page.parent.data.title, '/' + current_page.parent.path, :relative => true) %></li>
        <% end %>
      <% current_page.parent.children.sort_by { |resource| resource.data.order }.each do |item| %>
      <% if item.data.nav_title %>
      <li<%= ' class="' + item.data.type + '"' if item.data.type %>><%= nav_link(item.data.nav_title, '/' + item.path, :relative => true) %></li>
      <% else %>
      <li<%= ' class="' + item.data.type + '"' if item.data.type %>><%= nav_link(item.data.title, '/' + item.path, :relative => true) %></li>
      <% end %>
      <% end %>
      <% end %>
    </ul>
    <%= partial 'layouts/topic_navigation' %>
  </nav>
</div>
              <%= partial "layouts/footer" %>
