<%= partial "layouts/header" %>
<div class="navigation">
  <nav role="navigation" aria-label="Navigate topic">
    <div class="mainpage">
      <%= nav_link('Tutorials home', '/index.html') %>
    </div>
    <h4 class="list-heading">
      <%= current_page.parent.data.title %>
    </h4>
    <ol>
      <% current_page.parent.children.sort_by { |resource| resource.data.order }.each do |item| %>
      <% if item.data.nav_title %>
      <li><%= nav_link(item.data.nav_title, '/' + item.path, :relative => true) %></li>
      <% else %>
      <li><%= nav_link(item.data.title, '/' + item.path, :relative => true) %></li>
      <% end %>
      <% end %>
    </ol>
    <%= partial 'layouts/topic_navigation' %>
  </nav>
</div>
<div class="content <%= current_page.data.status %>">

  <h2 class="tutorial-heading">
    <%= current_page.data.title %>
  </h2>

  <% if current_page.data.status=="draft" %>

  <div class="status">
    <h3>Status - </h3>
    <p>This is an in-progress, unapproved draft. Please send any suggestions, edits, or comments to the publicly-archived list: <a href="mailto:wai-eo-editors@w3.org">wai-eo-editors@w3.org.</a>
    </p>
  </div>
  <% end %>

  <div class="inner">

    <%= yield %>

<%= partial "layouts/prevnext" %>
                  </div>
                </div>
              </main>
              <%= partial "layouts/footer" %>
