---
title: Table Summary
status: editors-draft
order: 6
---
A summary is a brief description of how data is organized in a table. It
may not be necessary in very simple tables but can be important where
the data is laid out in an unusual order or the table structure is
complex. In these cases, a summary should be provided to give brief
orientation clues. In HTML4 the description can be marked up in the
`summary` attribute of the `<table>` element, but as this is made
obsolete in HTML5, the second example on this page shows how to put the
description within the `<caption>` element.

## Table with data on both sides of a header column
{:.ex}

This table has an unusual table structure, the days of the week are in
the center column, morning times to the left and afternoon times to the
right. It has the `summary` attribute “Days are shown in the second
column, morning opening hours in the first column and afternoon opening
hours are in the third column”, explaining the way the table is laid
out.

<%= sample_start %>

{::nomarkdown}
<table summary="Days are shown in the second column, morning opening hours in the first column and afternoon opening hours are in the third column">
	<caption>
		Surgery opening times
	</caption>
	<tr>
		<th scope="col" id="m"> Morning</th>
		<th scope="col" id="d">Day</th>
		<th id="a"> Afternoon</th>
	</tr>
	<tr>
		<td headers="m d1">Closed</td>
		<th scope="row" id="d1"> Sunday</th>
		<td headers="a d1"> 14:00 to 15:00</td>
	</tr>
	<tr>
		<td headers="m d2"> 08:00 to 11:30</td>
		<th id="d2"> Mon to Fri</th>
		<td headers="a d2">15:00 to 19:00</td>
	</th>
	<tr>
		<td headers="d3 m">09:30 to 12:00</td>
		<th id="d3">Saturday</th>
		<td headers="a d3">Closed</td>
	</tr>
</table>
{:/nomarkdown}

<%= sample_end %>

<%= code_start %>

~~~ html
<table
	summary="Days are shown in the second column, morning opening hours in the first column and afternoon opening hours are in the third column">
~~~

<%= code_end %>

## Table with a complex structure
{:.ex}

This is a complex table showing availability of different types and
sizes of accommodation in two different locations. The `<caption>`
element is used to describe the table layout as well as act as a heading
for the table.

<%= sample_start %>

<table>
<caption style="text-align: left;">
  Availability of holiday accommodation<br>
            <span style="font-size: .75em;">Column one has the location and size of accommodation, other columns show the type and number of properties available</span>
            </caption>
<thead>
              <tr>
                <td></td>
                <th id="stud" scope="col"> Studio </th>
                <th id="apt" scope="col"> <abbr title="Apartment">Apt</abbr> </th>
                <th id="chal" scope="col"> Chalet </th>
                <th id="villa" scope="col"> Villa </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th id="par" class="span" colspan="5" scope="colgroup"> Paris </th>
              </tr>
              <tr>
                <th headers="par" id="pbed1"> 1 bedroom </th>
                <td headers="par pbed1 stud"> 11 </td>
                <td headers="par pbed1 apt"> 20 </td>
                <td headers="par pbed1 chal"> 25 </td>
                <td headers="par pbed1 villa"> 23 </td>
              </tr>
              <tr>
                <th headers="par" id="pbed2"> 2 bedroom </th>
                <td headers="par pbed2 stud"> - </td>
                <td headers="par pbed2 apt"> 43 </td>
                <td headers="par pbed2 chal"> 52 </td>
                <td headers="par pbed2 villa"> 32 </td>
              </tr>
              <tr>
                <th headers="par" id="pbed3"> 3 bedroom </th>
                <td headers="par pbed3 stud"> - </td>
                <td headers="par pbed3 apt"> 13 </td>
                <td headers="par pbed3 chal"> 15 </td>
                <td headers="par pbed3 villa"> 40 </td>
              </tr>
              <tr>
                <th id="rome" class="span" colspan="5" scope="colgroup"> Rome </th>
              </tr>
              <tr>
                <th id="rbed1" headers="rome"> 1 bedroom </th>
                <td headers="rome rbed1 stud"> 13 </td>
                <td headers="rome rbed1 apt"> 21 </td>
                <td headers="rome rbed1 chal"> 22 </td>
                <td headers="rome rbed1 villa"> 3 </td>
              </tr>
              <tr>
                <th id="rbed2" headers="rome"> 2 bedroom </th>
                <td headers="rome rbed2 stud"> - </td>
                <td headers="rome rbed2 apt"> 23 </td>
                <td headers="rome rbed2 chal"> 43 </td>
                <td headers="rome rbed2 villa"> 30 </td>
              </tr>
              <tr>
                <th id="rbed3" headers="rome"> 3 bedroom </th>
                <td headers="rome rbed3 stud"> - </td>
                <td headers="rome rbed3 apt"> 16 </td>
                <td headers="rome rbed3 chal"> 32 </td>
                <td headers="rome rbed3 villa"> 40 </td>
              </tr>
            </tbody>
          </table>

<%= sample_end %>

<%= code_start %>

~~~ html
<caption>Availability of holiday accommodation <br>
	<span>Column one has the location and size of accommodation, other columns show the type and number of properties available</span>
</caption>
~~~

<%= code_end %>

**Note:** The technique used for example 2 is valid for both HTML4 and HTML5. **@@@Should I also link here to the [other HTML5 table description techniques](http://www.w3.org/TR/html5/tabular-data.html#table-descriptions-techniques)?**{:.todo}

## Related WCAG2.0 Technique

The following WCAG 2.0 technique was used in the example above:

-   [H73: Using the summary attribute of the table element](http://www.w3.org/TR/WCAG20-TECHS/H73)
